:root {
  --primary-color: #f3c625;
  --secondary-color: #466157;
  --alternate-color: #c9babb;
  --text-color: #466157;
  /* --other-color1: #d81e5b;
  --other-color2: #06d6a0; */
  --header-height: 60px;
}
* {
  font-family: "Raleway", sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  background: var(--alternate-color);
}
::-moz-selection {
  background: var(--alternate-color);
}
section {
  height: 100vh;
  display: flex;
  padding: 2rem;
  position: relative;
  overflow: hidden;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem 1rem;
}
.logo {
  width: 8rem;
}
ol {
  list-style-type: none;
  display: flex;
  gap: 3rem;
}
ol a {
  text-decoration: none;
}
ol a:hover {
  color: var(--primary-color);
}
#home {
  padding: 0;
  height: calc(100vh - var(--header-height));
}
.left {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.right {
  width: 50%;
  position: relative;
  flex-direction: column;
  display: flex;
}
#home .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: end;
}

#home .left span {
  transform: translate(8rem, 1.6rem);
  -webkit-transform: translate(8rem, 1.6rem);
  -moz-transform: translate(8rem, 1.6rem);
  -ms-transform: translate(8rem, 1.6rem);
  -o-transform: translate(8rem, 1.6rem);
}
#code {
  font-size: 1.5rem;
}
#home .left {
  z-index: 1;
}

.right .socials {
  width: 40px;
  object-fit: cover;
}
.right a {
  position: absolute;
  z-index: 2;
}
.right .s_front {
  z-index: 2;
}

.img1 {
  position: absolute;
  height: 36rem;
}
.name {
  font-size: 3.4rem;
  letter-spacing: 0.15rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
.role {
  margin-top: 2px;
  font-size: 1.3rem;
  letter-spacing: 0.08rem;
  width: fit-content;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
.right #github {
  top: 135px;
  left: 80px;
}
.right #instagram {
  top: 380px;
  right: 300px;
}
.right #twitter {
  top: 240px;
  right: 245px;
}
.right #linkedin {
  top: 90px;
  right: 320px;
}
.right #facebook {
  top: 440px;
  left: 48px;
}

/* about section */
#about {
  background-color: var(--secondary-color);
  font-size: 1.2rem;
}
#about span,
#about p,
#about a,
#about b,
#about h2 {
  color: var(--primary-color);
}

#about > .left > .up {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
}

#about > .left > .down {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  background-image: url("assets/images/experience.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 76%;
}
#about > .left > .down > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  transform: translate(-1rem, 3rem);
  -webkit-transform: translate(-1rem, 3rem);
  -moz-transform: translate(-1rem, 3rem);
  -ms-transform: translate(-1rem, 3rem);
  -o-transform: translate(-1rem, 3rem);
}
#about > .left > .down h2 {
  font-size: 2.8rem;
}

#about > .right {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* portfolio section*/
#portfolio {
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0;
}
.projects-container {
  display: flex;
}
.projects-container .page {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 0 5rem;
}
.project-card {
  overflow: hidden;
  font-size: 0.85rem;
}

.project-card {
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}

.project-card img {
  object-fit: cover;
  width: 100%;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.project-card .card-lower {
  padding: 0.5rem;
}
.project-card .project-name {
  font-size: 1.3rem;
  margin-bottom: 0.4rem;
}

.chips-container {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 0.4rem;
}
.filter-chip {
  padding: 0.2rem 0.3rem;
  font-size: 0.7rem;
  background-color: var(--alternate-color);
  border-radius: 999999px;
  -webkit-border-radius: 999999px;
  -moz-border-radius: 999999px;
  -ms-border-radius: 999999px;
  -o-border-radius: 999999px;
}
.project-card {
  width: 27vw;
}
.project-card .buttons-wrapper {
  margin-top: 0.8rem;
  display: flex;
  gap: 0.8rem;
}

.project-card .buttons-wrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.2rem;
  width: 6rem;
  text-decoration: none;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
.project-card .buttons-wrapper a.repo {
  background-color: rgb(22, 22, 20);
  color: white;
}
.project-card .buttons-wrapper a.preview {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.project-card .buttons-wrapper a.repo:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.project-card .buttons-wrapper a.preview:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
#portfolio #sp {
  position: absolute;
  width: 30rem;
  bottom: -1.6rem;
  right: 2rem;
  z-index: -1;
}
#portfolio .move-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 2rem;
  width: 2rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 999999px;
  -webkit-border-radius: 999999px;
  -moz-border-radius: 999999px;
  -ms-border-radius: 999999px;
  -o-border-radius: 999999px;
}
#portfolio .move-button.left {
  left: 0.5rem;
  opacity: 0.2;
}
#portfolio .move-button.right {
  right: 0.5rem;
}
#portfolio .move-button svg {
  height: 1.8rem;
  width: 1.8rem;
}
#portfolio .move-button svg path {
  color: var(--secondary-color);
}

/* resume section  */
#resume {
  background-color: var(--alternate-color);
}
