:root {
  --primary-color: #f3c625;
  --secondary-color: #466157;
  --alternate-color: #c9babb;
  --text-color: #466157;
  --white: white;
  --header-height: 3.5rem;
}
* {
  font-family: "Raleway", sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: var(--alternate-color);
}
::-moz-selection {
  background: var(--alternate-color);
}
body {
  width: 100vw;
  height: 100vh;
}
.container {
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100vh;
  display: flex;
  padding: 2rem;
  position: relative;
  overflow: hidden;
}
.logo-container {
  font-style: italic;
  font-size: 1.5rem;
  user-select: none;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  padding: 0rem 6rem;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
.nav ul {
  list-style-type: none;
  display: flex;
  gap: 3rem;
}
.ham-checkbtn {
  right: 2rem;
  top: 1.05rem;
  position: absolute;
  display: none;
}

.nav ul a:hover,
.nav ul a.active {
  color: var(--primary-color);
}
#home {
  padding: 0;
  flex-direction: column;
  background-color: var(--white);
}
.home-content {
  display: flex;
  position: relative;
  height: 100%;
}
.left {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.right {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
}
#home .left {
  justify-content: center;
  align-items: end;
}

#home .left span {
  transform: translate(10vw, 3.6vh);
  -webkit-transform: translate(10vw, 3.6vh);
  -moz-transform: translate(10vw, 3.6vh);
  -ms-transform: translate(10vw, 3.6vh);
  -o-transform: translate(10vw, 3.6vh);
}
#code {
  font-size: 1.5rem;
}
#home .left {
  z-index: 1;
}
.socials-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.right .socials {
  width: 60px;
  object-fit: cover;
}
#home .right a {
  position: absolute;
  z-index: 2;
}
#home .right #github {
  top: 24vh;
  left: 6vw;
}
#home .right #instagram {
  top: 67vh;
  right: 20vw;
}
#home .right #twitter {
  top: 41vh;
  right: 15vw;
}
#home .right #linkedin {
  top: 17vh;
  right: 20vw;
}
#home .right #facebook {
  bottom: 7.5vh;
  left: 4.6vw;
}
.img1 {
  position: absolute;
  height: 98vh;
  bottom: -3rem;
}

.name {
  font-size: 8vh;
  letter-spacing: 0.4vw;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
.role {
  margin-top: 0.2vh;
  font-size: 3.4vh;
  letter-spacing: 0.1vw;
  width: fit-content;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

/* about section */
#about {
  background-color: var(--secondary-color);
  font-size: 1.2rem;
}
#about span,
#about p,
#about a,
#about b,
#about h2 {
  color: var(--primary-color);
}

#about > .left > .up {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
}

#about > .left > .down {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  background-image: url("assets/images/experience.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 76%;
}
#about > .left > .down > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  transform: translate(-1rem, 3rem);
  -webkit-transform: translate(-1rem, 3rem);
  -moz-transform: translate(-1rem, 3rem);
  -ms-transform: translate(-1rem, 3rem);
  -o-transform: translate(-1rem, 3rem);
}
#about > .left > .down h2 {
  font-size: 3rem;
}

#about > .right {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* portfolio section*/
#portfolio {
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0;
  background-color: var(--white);
}
.projects-container {
  display: flex;
}
.projects-container .page {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 0 5rem;
  z-index: 1;
}

.project-card {
  width: 27vw;
  overflow: hidden;
  font-size: 0.85rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}

.project-card img {
  object-fit: cover;
  width: 100%;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.project-card .card-lower {
  padding: 0.5rem;
}
.project-card .project-name {
  font-size: 1.3rem;
  margin-bottom: 0.4rem;
}

.chips-container {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 0.4rem;
}
.filter-chip {
  padding: 0.2rem 0.3rem;
  font-size: 0.7rem;
  background-color: var(--alternate-color);
  border-radius: 999999px;
  -webkit-border-radius: 999999px;
  -moz-border-radius: 999999px;
  -ms-border-radius: 999999px;
  -o-border-radius: 999999px;
}

.project-card .buttons-wrapper {
  margin-top: 0.8rem;
  display: flex;
  gap: 0.8rem;
}

.project-card .buttons-wrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.2rem;
  width: 6rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
.project-card .buttons-wrapper a.repo {
  background-color: rgb(22, 22, 20);
  color: white;
}
.project-card .buttons-wrapper a.preview {
  background-color: var(--alternate-color);
}

.project-card .buttons-wrapper a.repo:hover {
  opacity: 0.85;
}
.project-card .buttons-wrapper a.preview:hover {
  opacity: 0.85;
}
#portfolio #sp {
  position: absolute;
  width: 35rem;
  bottom: -1.6rem;
  right: 2rem;
}
#portfolio .move-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 2rem;
  width: 2rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 999999px;
  -webkit-border-radius: 999999px;
  -moz-border-radius: 999999px;
  -ms-border-radius: 999999px;
  -o-border-radius: 999999px;
}
#portfolio .move-button.left {
  left: 0.5rem;
  opacity: 0.2;
}
#portfolio .move-button.right {
  right: 0.5rem;
  opacity: 0.2;
}
#portfolio .move-button.active {
  left: 0.2rem;
  opacity: 1;
}

#portfolio .move-button svg path {
  color: var(--secondary-color);
}

/* resume section  */
#resume {
  background-color: var(--alternate-color);
}
#resume .left {
  justify-content: center;
  align-items: center;
}
#resume .right {
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-image: url("assets/images/rsm.png");
  background-repeat: no-repeat;
  background-position: center;
}
#resume .right a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.8rem;
  width: 8rem;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}
.download-button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.view-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
#resume .right a:hover {
  opacity: 0.85;
}

.resume-img {
  height: 80vh;
  object-fit: contain;
  border: 0.08rem solid var(--secondary-color);
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}

/* contact section */

#contact {
  flex-direction: column;
  background-color: var(--secondary-color);
  justify-content: center;
  align-items: center;
  background-image: url("assets/images/cm.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 45%;
}
.form-container {
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mail-form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.mail-form div {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0.6rem;
  border: 0.01rem solid var(--alternate-color);
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}

.mail-form div > input,
.mail-form div > textarea {
  width: 26rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.mail-form textarea#message {
  resize: none;
}

.mail-form input#form-submit {
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
  height: 2.2rem;
  width: 6rem;
  background-color: var(--alternate-color);
  color: var(--secondary-color);
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

#contact a,
#contact span {
  color: var(--alternate-color);
}
.footer {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 1rem 0;
}
.footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 0.6rem;
}

.footer-socials .socials {
  width: 1.5rem;
  height: 1.5rem;
}

/* @media only screen and (max-width: 1920px) {
} */
@media only screen and (max-width: 1440px) {
  #code {
    font-size: 1.2rem;
  }
  .right .socials {
    width: 50px;
    object-fit: cover;
  }
  #home .right #linkedin {
    top: 17vh;
    right: 19vw;
  }
  #home .right #instagram {
    top: 67vh;
    right: 17vw;
  }
  #home .right #twitter {
    top: 41vh;
    right: 10vw;
  }
  .name {
    letter-spacing: 0.25vw;
  }
  .role {
    letter-spacing: 0.07vw;
  }
  #home .left span {
    transform: translate(13.6vw, 5.3vh);
    -webkit-transform: translate(13.6vw, 5.3vh);
    -moz-transform: translate(13.6vw, 5.3vh);
    -ms-transform: translate(13.6vw, 5.3vh);
    -o-transform: translate(13.6vw, 5.3vh);
  }
}
@media only screen and (max-width: 1366px) {
  section {
    padding: 1.5rem;
  }
  .right .socials {
    width: 40px;
    object-fit: cover;
  }
  #home .right #linkedin {
    top: 17vh;
    right: 23vw;
  }
  #home .right #instagram {
    top: 67vh;
    right: 24vw;
  }
  #home .right #twitter {
    top: 41vh;
    right: 15vw;
  }
  .name {
    letter-spacing: 0.2vw;
  }
  .role {
    letter-spacing: 0.025vw;
  }
  #home .left span {
    transform: translate(12vw, 3.8vh);
    -webkit-transform: translate(12vw, 3.8vh);
    -moz-transform: translate(12vw, 3.8vh);
    -ms-transform: translate(12vw, 3.8vh);
    -o-transform: translate(12vw, 3.8vh);
  }
}
@media only screen and (max-width: 1200px) {
  section {
    padding: 1.3rem;
  }
  #code {
    font-size: 1.1rem;
  }
  #home .right #linkedin {
    top: 17vh;
    right: 13vw;
  }
  #home .right #instagram {
    top: 67vh;
    right: 13vw;
  }
  #home .right #twitter {
    top: 41vh;
    right: 6vw;
  }
  .img1 {
    right: 4vw;
  }
  #home .left span {
    transform: translate(12vw, 3.8vh);
    -webkit-transform: translate(12vw, 3.8vh);
    -moz-transform: translate(12vw, 3.8vh);
    -ms-transform: translate(12vw, 3.8vh);
    -o-transform: translate(12vw, 3.8vh);
  }
  #header {
    padding: 0rem 3rem;
  }
  #about {
    font-size: 0.8rem;
  }
  .projects-container .page {
    padding: 0 3rem;
  }
  .project-card {
    width: 28vw;
    font-size: 0.75rem;
  }

  .project-card .card-lower {
    padding: 0.2rem;
  }
  .project-card .project-name {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }

  .chips-container {
    gap: 0.15rem;
    margin-bottom: 0.3rem;
  }
  .filter-chip {
    padding: 0.18rem 0.26rem;
    font-size: 0.55rem;
  }

  .project-card .buttons-wrapper {
    margin-top: 0.7rem;
    gap: 0.5rem;
  }

  .project-card .buttons-wrapper a {
    height: 2rem;
    width: 5rem;
  }
  #resume .right {
    background-size: 80%;
  }
  .resume-img {
    height: 70vh;
  }
  #resume .right a {
    height: 2.4rem;
    width: 6.2rem;
  }
  #contact {
    background-size: 55%;
  }
}
@media only screen and (max-width: 800px) {
  section {
    padding: 1rem;
  }
  .name {
    font-size: 7vh;
    letter-spacing: 0.15vw;
  }
  .role {
    font-size: 2.4vh;
    letter-spacing: 0.02vw;
  }

  #about {
    font-size: 0.7rem;
  }
  #about > .left > .down h2 {
    font-size: 2.5rem;
  }
  .projects-container .page {
    justify-content: space-around;
    width: 300vw;
    padding: 0 0;
  }
  .project-card {
    width: 45vw;
    font-size: 0.8rem;
  }

  .project-card .card-lower {
    padding: 0.3rem;
  }
  .project-card .project-name {
    font-size: 1.3rem;
  }

  .chips-container {
    gap: 0.2rem;
  }
  .filter-chip {
    padding: 0.2rem 0.3rem;
    font-size: 0.65rem;
  }

  .project-card .buttons-wrapper {
    gap: 0.6rem;
  }

  .project-card .buttons-wrapper a {
    height: 2.3rem;
    width: 5.5rem;
  }
  #portfolio #sp {
    width: 26rem;
    bottom: -1.2rem;
    right: 1.6rem;
  }
  .resume-img {
    height: 65vh;
  }
}
@media only screen and (max-width: 768px) {
  svg {
    height: 1.4rem;
    width: 1.4rem;
  }
  .right .socials {
    width: 30px;
    object-fit: cover;
  }
  .ham-checkbtn {
    display: block;
    cursor: pointer;
    z-index: 4;
  }
  #header {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    padding: 0;
  }

  .nav ul {
    width: 100%;
    flex-direction: column;
    gap: 0;
  }
  .logo-container {
    margin-top: 1.05rem;
    margin-left: 2rem;
  }
  .nav {
    z-index: 3;
    display: none;
    position: absolute;
    /* margin-top: 1.04rem; */
    width: 100%;
    background-color: var(--primary-color);
  }
  .nav ul li {
    text-align: center;
  }
  .nav ul a:hover,
  .nav ul a:active {
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
  .nav ul a {
    width: 100%;
    display: block;
    padding: 1rem 0;
  }
  .nav.active {
    display: flex;
  }
  #home .left span {
    transform: translate(4vw, -10vh);
    -webkit-transform: translate(4vw, -10vh);
    -moz-transform: translate(4vw, -10vh);
    -ms-transform: translate(4vw, -10vh);
    -o-transform: translate(4vw, -10vh);
  }
  .socials-container {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  section {
    padding: 0.5rem;
  }
  #about {
    font-size: 0.6rem;
  }
  .project-card {
    width: 64vw;
  }
  #portfolio #sp {
    width: 20rem;
    bottom: -1rem;
    right: 1.3rem;
  }
  #resume {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #resume .left {
    width: 100%;
  }
  #resume .right {
    width: 100%;
    gap: 0.3rem;
    padding: 1rem 0.8rem;
  }
  #resume .right a {
    height: 2rem;
    width: 5.6rem;
    font-size: 0.8rem;
  }

  #contact {
    background-size: 60%;
  }
  .mail-form {
    gap: 0.4rem;
  }
  .mail-form div {
    padding: 0.4rem;
    border: 0.008rem solid var(--alternate-color);
  }

  .mail-form div > input,
  .mail-form div > textarea {
    width: 20rem;
  }
}
@media only screen and (max-width: 425px) {
  .img1 {
    right: -12vw;
  }
  /* #home .left span {
    transform: translate(4vw, 8vh);
    -webkit-transform: translate(4vw, 8vh);
    -moz-transform: translate(4vw, 8vh);
    -ms-transform: translate(4vw, 8vh);
    -o-transform: translate(4vw, 8vh);
  } */
  #about > .left > .down {
    background-size: 100%;
  }
  #about > .left > .down h2 {
    font-size: 2rem;
  }
  #about > .left > .down > div {
    gap: 1.6rem;
    transform: translate(1.2rem, 1.6rem);
    -webkit-transform: translate(1.2rem, 1.6rem);
    -moz-transform: translate(1.2rem, 1.6rem);
    -ms-transform: translate(1.2rem, 1.6rem);
    -o-transform: translate(1.2rem, 1.6rem);
  }
  .project-card {
    width: 88vw;
  }
  .chips-container {
    gap: 0.1rem;
  }
  .filter-chip {
    padding: 0.14rem 0.24rem;
    font-size: 0.56rem;
  }
  #portfolio .move-button {
    height: 1.5rem;
    width: 1.5rem;
  }
  #portfolio .move-button.left {
    left: 0;
  }
  #portfolio .move-button.right {
    right: 0;
  }
  #portfolio #sp {
    width: 16rem;
    bottom: 0;
    right: 0.5rem;
  }
  .mail-form div > input,
  .mail-form div > textarea {
    width: 16rem;
  }
  /*Small smartphones [325px -> 425px]*/
}
